# Copy this file to pintsize.conf.yaml and fill in the blanks

connections:
  - serverHostname: BLANK
    username: BLANK
    realname: BLANK
    nickname: BLANK
    serverport: BLANK
    password: BLANK
    options:
      # Uncomment the following line if you need SSL.
      # transport: ssl
      force-ipv4: false

database:
  host: BLANK
  #port: BLANK
  dbname: BLANK
  username: BLANK
  password: BLANK

mysql:
  mysqldump_bin: mysqldump
  mysql_bin: mysql
